<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "modle/keywords.html"}}
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/libs/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/libs/layui/layui.js"></script>
    <script src="/static/js/main.js"></script>
    <title>关于ApiTools</title>
    {{template "modle/tongji.html"}}
</head>
<body style="background-color: #FFFFFF;">
{{template "modle/header"}}
<div id="container">
    <div id="about">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <p>
                <span class="layui-badge-dot layui-bg-orange"></span>&nbsp;
                <span>ApiTools是一个集成各种开放Api的web项目，为大家提供免费的、常用的Api功能</span>
            </p>
            <p>
                <span class="layui-badge-dot"></span>&nbsp;
                <span>该项目会不断更新新的api接口</span>
            </p>
        </blockquote>

        <div>
            <div class="linep">
                联系作者
            </div>

            <div class="simple-line">
                <span class="layui-badge layui-bg-green">QQ联系方式: </span>
                <span class="line_text">1152490990</span>
            </div>

            <div class="simple-line">
                <span class="layui-badge">邮箱联系方式: </span>
                <span class="line_text">1152490990@qq.com</span>
            </div>

            <div class="simple-line">
                <span class="layui-badge layui-bg-blue">QQ交流群: </span>
                <span class="line_text">565070560</span>
            </div>

            <div class="linep">
                开源地址:
            </div>
            <div class="simple-line">
                <span class="layui-badge layui-bg-orange">Github: </span>
                <span class="line_text"><a
                            href="https://github.com/spdir/apiTools">https://github.com/spdir/apiTools</a></span>
            </div>
        </div>

        <div class="linep">
            维护不易，您在支持就是我不断更新的动力
        </div>

        <div class="wxzs">
            <img src="/static/imgs/zs.jpeg" alt="维护不易，您在支持就是我不断更新的动力">
        </div>
    </div>
</div>
</body>
</html>
